*{
    margin: 0;
    padding: 0;
   
}

body{
    background-color: gray;
}

.navigation{
    background-color: rgb(44, 44, 233);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.logo{
    margin-left: 50px;
    
}
.nav-menu{
    margin-right: 50px;
}

.nav-menu-links{
    display: flex;
    list-style: none;
    
}
.nav-menu-links li{
    margin-right: 10px;
    padding: 27px;
}
.nav-menu-links li:hover{
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
}


.navigation-second{
    background-color: rgb(10, 10, 10);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    width: 100%;
}

.nav-sec-menu{
    width: 30%;
    margin-left: 50px;

}
.nav-sec-menu-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-sec-search{
    width: 40%;
    display: flex;
    padding: 27px;
}
.nav-sec-search-input{
    width: 80%;
    padding: 20px;
}
.nav-sec-search-button{
    width: 20%;
}

.nav-sec-deals{
    width: 30%;
    margin-right: 50px;
}
.nav-sec-deals-links{
    display: flex;
    list-style: none;
    justify-content: space-between;

}
.nav-sec-deals-links li{
    margin-right: 10px;
    padding: 19px;
}
.nav-sec-deals-links li:hover{
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
}


