*{
    margin: 0;
    padding: 0;
   
}

body{
    background-image: url(./img/back_image.jpg);
    background-repeat: no-repeat;
  
    background-size: cover;
    width: 100%;
    
}

.navigation{
    background-color: rgb(44, 44, 233);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.logo{
    margin-left: 50px;
    
}
.nav-menu{
    margin-right: 50px;
}

.nav-menu-links{
    display: flex;
    list-style: none;
   
    
}
.nav-menu-links li{
    margin-right: 10px;
    padding: 27px;
   
}
.nav-menu-links li a{
    text-decoration: none;
    color: white;
}
.nav-menu-links li:hover{
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
}

.main_section{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
   
}

.container{
    margin-top: 200px;
    height: 600px;
    
    font-size: 60px;
    text-align: center;
    color: white;
    align-items: center;
   
}
.main_content{
    margin: 0px auto;
}
.main_content p{
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
}



.footer_sec{
    margin-top: 50px;
    background-color: rgb(44, 44, 233);
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}