*{
    margin: 0;
    padding: 0;
   
}

body{
    background-image: url(./img/back_image.jpg);
    background-repeat: no-repeat;
  
    background-size: cover;
    width: 100%;
    
}

.navigation{
    background-color: rgb(44, 44, 233);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.logo{
    margin-left: 50px;
    
}
.nav-menu{
    margin-right: 50px;
}

.nav-menu-links{
    display: flex;
    list-style: none;
   
    
}
.nav-menu-links li{
    margin-right: 10px;
    padding: 27px;
   
}
.nav-menu-links li a{
    text-decoration: none;
    color: white;
}
.nav-menu-links li:hover{
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
}

.table_container{
    max-width: 900px;
    margin: 0 auto;
}
.simple_table{
    min-height: 300px;
    background-color: aqua;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.table_info{
    font-size: 25px;
    text-align: center;
    
}
.table_info th{
    font-size: 40px;
    font-weight: bold;
    
}
.table_info td{
    padding: 20px;
}
.advance_table{
    margin-top: 20px;
    min-height: 300px;
    background-color: rgb(10, 236, 40);
    border: 5px solid black;
    display: flex;
    justify-content: center;
    padding: 20px;
}


.footer_sec{
    margin-top: 10px;
    background-color: rgb(44, 44, 233);
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}