*{
    margin: 0;
    padding: 0;
   
}

body{
    background-image: url(./img/back_image.jpg);
    background-repeat: no-repeat;
  
    background-size: cover;
    width: 100%;
    
}

.navigation{
    background-color: rgb(44, 44, 233);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-bottom: 20px;
}
.logo{
    margin-left: 50px;
    
}
.nav-menu{
    margin-right: 50px;
}

.nav-menu-links{
    display: flex;
    list-style: none;
   
    
}
.nav-menu-links li{
    margin-right: 10px;
    padding: 27px;
   
}
.nav-menu-links li a{
    text-decoration: none;
    color: white;
}
.nav-menu-links li:hover{
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
}
.main_container{
    
    margin: 0 auto;
    min-height: 600px;
   text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_sec1{
    margin: 0 auto;
    width: 45%;
    background-color: azure;
    min-height: 400px;
    margin: 0 auto;
}
.main_sec2{
    width: 45%;
    background-color: blueviolet;
    min-height: 400px;
    margin: 0 auto;
}


.footer_sec{
    margin-top: 20px;
    background-color: rgb(44, 44, 233);
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}