*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-image: url(./img/back_image.jpg);
    background-repeat: no-repeat;
  
    background-size: cover;
    width: 100%;
    
}

.navigation{
    background-color: rgb(44, 44, 233);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.logo{
    margin-left: 50px;
    
}
.nav-menu{
    margin-right: 50px;
}

.nav-menu-links{
    display: flex;
    list-style: none;
   
    
}
.nav-menu-links li{
    margin-right: 10px;
    padding: 27px;
   
}
.nav-menu-links li a{
    text-decoration: none;
    color: white;
}
.nav-menu-links li:hover{
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
}

.main_section{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
   
}

.container{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    min-height: 600px;
}


.form_box{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: beige;
}
.form_box_heading{
    text-align: center;
    margin-bottom: 20px;
}


.footer_sec{
    margin-top: 50px;
    background-color: rgb(44, 44, 233);
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
#yo_btn{
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
}

#yo_btn:hover{
    background-color: blue;
    color: white;
    transition: 0.3s ease-in-out;
}
.form_control{
    display: flex;
    justify-content: center;
    
    
}

label{
    
}

input{
   
}