*{
    margin: 0;
    padding: 0;
   
}

body{
    background-image: url(./img/back_image.jpg);
    background-repeat: no-repeat;
  
    background-size: cover;
    width: 100%;
    
}

.navigation{
    background-color: rgb(44, 44, 233);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.logo{
    margin-left: 50px;
    
}
.nav-menu{
    margin-right: 50px;
}

.nav-menu-links{
    display: flex;
    list-style: none;
   
    
}
.nav-menu-links li{
    margin-right: 10px;
    padding: 27px;
   
}
.nav-menu-links li a{
    text-decoration: none;
    color: white;
}
.nav-menu-links li:hover{
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
}

.main_section{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
   
    border: 10px solid red;
    margin-bottom: 20px;
}
.sidebar{
    width: 45%;
    border: 1px solid;
    height: 300px;
    background-color: rgb(217, 228, 228);
}

.main_content{
    width: 45%;
    border: 1px solid;
    height: 300px;
    background-color: azure;
}
.second_main{
    
    display: flex;
    justify-content: space-between;
    border: 10px solid rgb(236, 9, 9);
}
.first_section{
    width: 30%;
    border: 1px solid;
    background-color: blue;
     height: 300px;
}
.second_section{
 
    width: 30%;
    border: 1px solid;
    background-color: rgb(255, 0, 98);
     height: 300px;
}
.third_section{
    width: 30%;
    border: 1px solid;
    background-color: rgb(0, 255, 157);
     height: 300px;
}


.footer_sec{
    margin-top: 10px;
    background-color: rgb(44, 44, 233);
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
 