body{
    
}
.fashion_img{
    height: 80vh;
    width: 100%;
    box-shadow: 3px 10px 20px gray;
    border-radius: 10px;
    margin-bottom: 20px;
}
.card{
    width: 100px;
}
.card-img{
    height: 20vh;
    width: 100px;
}
.container{
    margin-top: 5%;
}
