.first_heading{
   background-color: rgb(129, 10, 241) !important;
}

th,td,tr{
    text-align: center;
    border: none;
    
}

.second_heading{
    background-color: rgb(220, 211, 211) !important;
}

.btn{
    background-color: rgb(129, 10, 241) !important;
}