body{
    background-color: rgb(228, 233, 232);
    background-image: url(/assets/login-page-bg.svg);
    background-position: right bottom;
    background-attachment:fixed ;
    background-repeat: no-repeat;
    background-size: 683px;
    width: 300px;
    height: 300px;
    
}

.login_wrapper{
    width: 500px;
 margin-left: 132%
}
.main{
    width: 300px;
    margin: 0 auto;
}
.heading_image{
    margin-top: 10%;
    margin-left: 28%
}

.login_form{
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 4px 3px 2px #fff;

}
.form_first_part{
    color: rgb(218,146,78);
}
.heading_first{
    color: rgb(218, 146, 78);
    font-size: 30px;
   
}
.heading_second{
    color: rgba(61, 143, 6, 0.815);
    font-size: 12px;
}
