.rail_img{
    height: 70px;
}

.card-img{
    width: 100%;
    height: 30vh;
}
.card{
    border:none;
    width:300px;
    
}

.card-title{
    font-size: 30px;
    font-weight: bold;
}

.instruction{
    color: green;
    display: flex;
   justify-content: space-between;
}

.des-text{
    font-size: 14px;
    font-weight: 400;
}

.last_hr{
    height: 4px;
    background-color: #079D49;
    border: none;
}